.container{
    width   : 200px;
    position: relative;

    display         : flex;
    flex-direction  : column;
    align-items     : stretch;

    box-shadow      : 0 0 8px 0px rgba(0,0,0,0.5);

    font-family     : helvetica;
    font-size       : 12px;
}
.model{
    position    : absolute;
    top         : 0;
    left        : 0;
    right       : 0;
    bottom      : 0;
}
.select{
    position    : absolute;
    right       : 0;
    bottom      : 0;
}
.slider{
    position    : absolute;
    left        : 0;
    right       : 80px;
    bottom      : 0;
}
.header{
    background          : linear-gradient( 180deg, rgba(0,0,0,0) 90%, rgba(0,0,0,0.2) 100% );
    flex-basis          : 170px;
    position            : relative;
    border-radius       : 4px 4px 0 0;
}
.content{
    background-color    : #fff;
    position            : relative;
    flex-basis          : 120px;
    border-radius       : 0 0 4px 4px;
    padding             : 50px 10px 10px 10px;
}
.objectSelector{
    position        : absolute;
    left            : 60px;
    right           : 0;
    top             : -10px;
}