$color-dark         : #222;
$color-lessDark     : #5E412F;

$color-light        : #FCEBB6;
$color-lighter      : #FFF;

$color-vibrant1     : #F07818;
$color-vibrant2     : #F0A830;
$color-vibrant3     : #78C0A8;