@import '../../theme/palette.css';

.container{
    position        : relative;

    display         : flex;
    justify-content : flex-start;
    align-items     : flex-start;
}
.ribbon{
    background-color: #222;
    flex-grow       : 1;
    margin-left     : 30px;
    padding-left    : 20px;
    border-radius   : 2px 0 0 2px;

    font-family     : helvetica;
    font-size       : 12px;
    font-weight     : bold;
}
.ribbon,
.row{
    position        : relative;
    overflow        : hidden;
    height          : 50px;
    display         : flex;
    justify-content : center;
    align-items     : center;
    color           : $color-vibrant3;
}
.rowSelected{}
.iconWrapper{
    padding         : 12px;
}
.icon{
    stroke          : $color-vibrant3;
    stroke-width    : 3;
    stroke-linecap  : round;
    stroke-linejoin : round;
    fill            : none;
}
.square{
    position        : absolute;
    top             : -10px;
    left            : 0;
    height          : 50px;
    width           : 50px;
    overflow        : hidden;
    z-index         : 1;
    border-radius   : 2px;

    cursor          : pointer;

    background-color: #222;
    box-shadow      : 0 0 8px 0px rgba(0,0,0,0.5);

    transition      : height 280ms ease;
}