.container{
    position        : relative;

    display         : flex;
    justify-content : flex-start;
    align-items     : flex-start;
}
.ribbon{
    background-color: #222;
    flex-grow       : 1;
    margin-left     : 30px;
    padding-left    : 20px;
    border-radius   : 2px 0 0 2px;
}
.ribbon,
.row{
    position        : relative;
    overflow        : hidden;
    height          : 50px;
    display         : flex;
    justify-content : center;
    align-items     : center;

    color           : #F07818;
}

.square{
    position        : absolute;
    top             : -10px;
    left            : 0;
    height          : 50px;
    width           : 50px;
    overflow        : hidden;
    border-radius   : 2px;

    background-color: #222;
    box-shadow      : 0 0 8px 0px rgba(0,0,0,0.5);

    transition      : height 280ms ease;
}